*{padding: 0;
margin: 0;
box-sizing: border-box;
}
footer {
  background-color:blueviolet;
  height: 100vh;
  padding: 40px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-left h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.footer-left p {
  font-size: 17px;
  text-align: center;
}

.footer-center h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-center ul {
  list-style-type: none;
  padding: 0;
}

.footer-center ul li {
  margin-bottom: 10px;
}

.footer-center ul li a {
  text-decoration: none;
  color: #333;
}

.footer-right h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-right ul {
  list-style-type: none;
  padding: 0;
}

.footer-right ul li {
  margin-bottom: 10px;
}

.footer-right ul li a {
  text-decoration: none;
  color: #333;
}

.footer-right ul li a i {
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
}
